
{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block head %}
<title>{{ fundraiser.name }}'s Fundraising Page </title>
<meta property="og:url"         content="{{ request.build_absolute_uri }}" />
<meta property="og:title"       content="{{ fundraiser.name|safe}}" />
<meta property="og:description" content="{{ fundraiser.message|safe }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://{{ request.META.HTTP_HOST }}{% static "nophoto.png" %}" />

{% endblock head %}

{% block content %}
{% for message in messages %}

    <div class="alert alert-primary" role="alert">
        {{ message }}
    </div>

{% endfor %}
    <br/>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {% if fundraiser.photo %}
                    <img src="{{ fundraiser.photo.url }}"  class="campaignimg circle-image-campaign">
                {% else %}
                    <img  src="{% static "nophoto.png" %}" alt="Card image cap" class="campaignimg circle-image-campaign">
                {% endif %}
      </br>

                <h2 class="campaign-title">{{ fundraiser.name }}</h2>
            </div>
            <div class="col-lg-6">

                <div id="countdown-wrap">
                <div id="goal-stat">
                    <div id="raised"><strong>${{ fundraiser.total_raised|floatformat:"0"|intcomma }}</strong></div>
                    <div id="goal">Goal: ${{ fundraiser.goal|floatformat:"0"|intcomma }}</div>
                </div>
                <div id="glass">
                    <div id="progress">
                    </div>
                </div>
                <div class="goal-stat">
                    <span class="goal-number">{{ fundraiser.percent_raised|floatformat:"0" }}%</span>
                </div>
                </div>
                <script>
                    document.getElementById("progress").style.width = "{{ fundraiser.percent_raised }}%";
                </script>

                <!--http://stackoverflow.com/questions/9335140/how-to-countdown-to-a-date -->

                
                <a class="btn btn-primary donate-button" href="{% url 'team_fundraising:donation' fundraiser.id %}" role="button">Donate</a>
                <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <br/>
                {{ fundraiser.message|safe }}
                {% if user.is_authenticated and user.id == fundraiser.user.id  %}
                    <br/>
                    <a class="btn btn-secondary" href="{% url 'team_fundraising:update_fundraiser' fundraiser.id %}" role="button">Edit</a>  
                {% endif %}
            </div>
            <div class="col-lg-6">
                <h4>Business Donations</h4>
                    {% for donation in business_donations %}
                      <div class="row">
                      {% if donation.business_flag %}
                        {% if  donation.anonymous %}
                          <div class="col-sm-12 p-1">
                            Anonymous
                          </div>
                        {% else %}
                            <div class="col-sm-4 p-1">
                          {% if donation.business_logo%}
                            <img src="{{ donation.business_logo.url }}" class="donationimg"  >
                          {% endif %}
                            </div>
                          <div class="col-sm-6 p-1 businessfont">
                          {{ donation.name }}
                          </div>
                          <div class="col-sm-2 p-1">
                             ${{ donation.amount|floatformat:"2"|intcomma }} 
                          </div>
                        {% endif %}
                      {% endif %}
                      </div>
                    {% endfor %}
               <h4>Personal Donations</h4>
                <ul>
                    {% for donation in personal_donations %}
                    {% if not donation.business_flag %}
                    <li>
                      {% if  donation.anonymous %}
                          Anonymous
                      {% else %}
                          {{ donation.name }}
                      {% endif %}
                      - ${{ donation.amount|floatformat:"2"|intcomma }} 
                      {% if donation.message %}
                      - {{ donation.message }}
                      {% endif %}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
   {% endblock %}
